#block-drupalcamp-language-switcher .links {
  margin: 0;
  padding: 0;

  li {
    list-style-type: none;
    display: inline;

    &:not(:first-child):before {
      content: "/";
    }

    a.is-active {
      text-shadow: 0 0 1px var(--color--primary);
    }

    .short-text {
      display: none;
    }

    .full-text {
      display: inline-block;
    }

    @media (min-width: 1235px) {
      text-transform: uppercase;

      .short-text {
        display: inline-block;
      }

      .full-text {
        display: none;
      }
    }
  }
}
