[data-component-id="drupalcamp:hero"] {
  align-items: center;
  color: white;
  display: flex;
  flex-wrap: wrap;
  height: 824px;

  @media (max-width: 768px) {
    height: 704px;
    padding-top: 120px;
  }

  &:before {
    background-color: rgba(0, 0, 0, 0.38);
    content: '';
    height: 100%;
    left: 50%;
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    width: calc(100vw - var(--page-side-margin));
    z-index: -1;
  }

  .content-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 60px;

    @media (min-width: 768px) {
      flex-wrap: nowrap;
      gap: 0;
    }

    .text-wrapper {
      font-size: calc(var(--font-size) * 1.38);
      line-height: calc(var(--font-line-height) * 1.38);
      max-width: 566px;

      .link--button {
        font-size: calc(var(--font-size));
        line-height: calc(var(--font-line-height));
      }
    }
    .logo {
      flex-grow: 1;
      text-align: center;

      img {
        max-width: 191px;

        @media (min-width: 768px) {
          max-width: 276px;
        }
      }

      @media (min-width: 768px) {
        text-align: right;
      }
    }
  }
}
